/* Selector referring to each HTML element */
*{
    margin: 0px; /* sets margin to 0 */
    box-sizing: border-box; /* dont let things go out of the box */
}


/* Selector referring to the "<body>" element in the HTML document */
body{
    font-family: 'Times New Roman', Times, serif; /* sets the font to TNR for the whole body */
    font-size: calc(15px + 0.390625vw); /* This font-size calculation was taken from https://matthewjamestaylor.com/responsive-font-size?utm_content=cmp-true */
}

/* Selector referring to the HTML element labeled "<nav>" */
nav{
    background:yellow; /* sets background to yellow */
    height:80px; /* sets height to 80 pixels!*/
    width:100%; /* sets width to 100% of the screen */
}

/* Selector referring to the HTML element labeled "<h1>" */
h1{
    font-size:6vw; /* sets the fontsize */
    padding: 5px; /* sets padding to 5px all sides*/
    text-align: center; /* centers the text */
}
/* Selector referring to the HTML element labeled "<h2>" */
h2{
    font-size:2.5vw; /* sets the fontsize */
    text-align: center; /* centers the text */
}
/* Selector referring to the HTML element labeled "<p>" */
p{
    padding-top: 10px; /* makes space from top 10 px */
}


/* Selector sequence that refers to "<label>" elements with class "pLogo". */
label.pLogo{
    color:black; /* sets color to black */
    font-size:35px; /* sets fontsieze */
    line-height:80px; /* sets height to 80px */
    padding: 30px; /* sets padding 30px all sides */
    font-weight: bold; /* sets style of font to bold */
}

/* Selector referring to the HTML element labeled "<a>" in label sequence*/
label a{
    text-decoration:none; /* sets decoration to none */
    color:#000000; /* sets color */
}

/* Selector sequence referring to an unordered list located inside the navigation element "<nav>" */
nav ul{
    float:right; /* sets position to right */
    margin-right: 20px; /* sets margin 20 px to the right */
}


/* Class selector - changing style of the nav bar you are on */
.selected {
    text-emphasis: triangle; /* text decoration - triangle */
    text-emphasis-position: under right; /* position of triangles - under */
}

/* Sequence of selectors referring to HTML elements that are nested in a navigation "<nav>", followed by an unordered list "<ul>" and finally a list element "<li>". */
nav ul li{
    display:inline-block; /* respecting other rules */
    line-height: 80px; /* sets height to 80 px */
    margin: 0 5px; /* top/under margins has 0 margin - right/left has 5px margin */
    border-radius:3px; /* cuts the edges? looks it make smoother */
}

/* Sequence of selectors referring to "<a>" links that are inside "<li>" list elements, located inside unordered list elements "<ul>", nested in a navigation */
nav ul li a{
    color:black; /* sets color to black */
    font-size:26px; /* sets fontsize */
    padding: 7px 13px; /* sets padding top/bot to 7px / right/left to 13 px */
    text-decoration: none; /* sets text decoration to none */
}

/* Selector that refers to "<a>" links when the mouse cursor is over it (hover) */
a:hover{
    background:#ffffd6; /* background color */
    transition: 0.5s; /* delayed transition when u have mouse over it */
}

/* Class selector, referring to elements in HTML that have a specific class (in this case "checkbtn") */
.checkbtn{
    font-size:30px; /* sets fontsize */
    float:right; /* sets position to right */
    line-height:80px; /* sets height to 80px */
    cursor:pointer; /* sets cursor layout*/
    display:none; /* none display */
    padding-right: 20px; /* sets padding to 20 px to the right side*/
}

/* ID selector, which refers to an HTML element with the identifier "check" # - denotes the ID (using in the .html file: id="check") */
#check{
    display:none; /* none display */
}

/* Selector referring to "<section>" elements in an HTML document */
section{
    margin-top: 5px; /* sets 5 px margin to the top */
    margin-bottom: 10px; /* sets 10 px margin to the bottom */
}

/* Selector referring to "<footer>" elements in an HTML document */
footer{
    background-color: #fff8ad; /* Background color */
    padding: 20px;   /* Internal spacing */
    text-align:center; /* Center text alignment */
    bottom: 0;  /* Places the footer at the very bottom of the screen */
    width: 100%; /* Footer width for the full width of the screen */
}





/* Rule that applies to navigation elements when the width of the browser is at most 858 pixels.*/
@media (max-width: 1052px){

    .menu-icon { 
        display: inline; /* fits itself in line */
        background-image: url(../img/menu.svg); /* taken from one of the courses */
        background-size: cover; /* covers all space */
        padding: 6px; /* padding 6px all sides */
        padding-right: 40px; /* paddin to the right 40px */
    }

/* exlained above */
    .checkbtn{
        display:block; /* block display */
        padding-left: 10px; /* paddin to the left 10 px */
        
    }

/* Selector referring to an unordered list in an HTML document */
    ul{
        position:fixed; /* static position  */
        width:100%; /* width 100%  */
        height:100vh; /* 100% of the viewport height */
        top:80px; /* sets it after 80px from the top */
        left:-100%; /* hiding to be checked */
        background-color:blanchedalmond; /* sets the background color */
        text-align:center; /* sets text to the centre */
        transition: all 0.5s; /* transition for smooth opening */
    }



    /* exlained above */
    nav ul li{
        display:block; /* block display */
        margin: 50px 0; /* 50px margin top bottom - 0 left right */
        line-height: 30px; /* 30px height */
    }

    /* exlained above */
    nav ul li a{
        font-size:20px; /* sets font size to 20px */
    }

    /* exlained above */
    a:hover{
        background:none; /* sets background to none */
        color:yellow; /* sets color to yellow  */

    }

/* Selector referring to the "ul" element, provided that the "check" element is checked (:checked) */
    #check:checked ~ ul{
        left:0; /* appears from left:-100 */
    }

}
